h1{color: red;
padding-left: 10px;}
.fourteen{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 1;
}
.thirteen{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.7;
}
.twelve{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.5;
}
.eleven{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.4;
}
.ten{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.3;
}
.nine{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.2;
}
.eight{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.1;
}
.seven{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color:rgb(20, 203, 20);
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 1;
}
.six{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.2;
}
.five{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.3;
}
.four{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.4;
}
.three{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.5;
}
.two{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.6;
}
.one{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 0.7;
}
.zero{
    width: 100%;
    height: 60px;
    color: aliceblue;
    background-color: palevioletred;
    font-weight: bold;
    font-size: large;
    padding-left: 60px;
    opacity: 1;
}
